<footer class="site-footer clearfix ">
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <section>
  {{ghost_foot}}
  </section>

  <section class="copyright">
    <a href="//dpjeep.com/" target="_blank">PingD</a> © 2018 - <script>document.write(new Date().getFullYear())</script>
    <a href="//www.miitbeian.gov.cn/" target="_blank">·蜀ICP备18036663号-1</a>
  </section>
  <section>
    <p>
      <small><span id="busuanzi_container_page_pv">本页总阅读量<span id="busuanzi_value_page_pv"></span>次</span></small>
      ·
      <small><span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span></small>
      ·
      <small><span id="busuanzi_container_site_uv">本站总访客数<span id="busuanzi_value_site_uv"></span>人</span></small>
  </p>
  </section>
</footer>
