<ul class="link">
    <li><a href="https://weibo.com/u/2137028445" target="_blank"><i class="fa fa-weibo"></i></a></li>
    <li><a href="https://github.com/pingdai" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="mailto:pingd.jeep@gmail.com"><i class="fa fa-envelope"></i></a></li>
</ul>